body {
    background-image: linear-gradient(magenta, cyan, limegreen);
}

.heading {
    font-size: 28px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px cyan;
}

#pop{
  font-size: 18px;
}

canvas {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 135px;
    box-shadow: 5px 5px 5px whitesmoke;
}
